.home-div {
  margin-top: 40px;

  .analysis-table {
    text-align: left;
  }

  .glyphicon-remove{
    color: #ff4444;
  }

  .glyphicon-ok{
    color:#00C851;
  }
  .panel-heading{
    text-align: left;
  }
}